APP_NAME=LetsPay
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-vercel-app.vercel.app

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_PORT=6543
DB_DATABASE=postgres
DB_USERNAME=postgres.your-project-ref
DB_PASSWORD=your-supabase-database-password
DB_SSLMODE=require

CACHE_STORE=array
SESSION_DRIVER=cookie
QUEUE_CONNECTION=sync

MAIL_MAILER=log
FILESYSTEM_DISK=local
